body{
    margin: 0px;
}
header div{
    text-align: left;
    font-size: 125%;
}
header div a{
    text-decoration: none;
    transition: 1s;
}
header div a:hover{
    font-size: 90%;
    transition: 1s;
}
header{
    display:flex;
    top:0;
    width: 100%;
    background-color: rgb(139, 79, 0);
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: rgb(229, 255, 0);
    padding: 10px;
    text-align: right;
}
nav a{
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    transition: 1s;
    
}
nav a:hover{
    background-color: yellow;
    font-size: 80%;
    transition: 1s;
}
section.home{
    height: 800px;
    background: url(wine\ nanas.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
}
section.home div{
    text-align: center;
    color: black;
    margin: auto;
    width: 70%;
    padding: 20px;
}
section.home .welcome{
    font-size: 30px;
}
section.home a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 25px;
    transition: 1s;
}
section.home:hover{
    size: 200%;
    transition: 1s;
}
section.home button{
    border-radius: 25px;
    background: none;
    scale: 120%;
    box-shadow: 0px 0px 10px;
    transition: 1s;
    color: white;
}
section.home button:hover{
    scale: 200%;
    box-shadow: 0px 0px 30px;
    transition: 1s;
}
section.about{
    background-color: black;
    height: 600px;
    padding-top: 100px;
}
section.about div{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
}
section.about img{
    height: 200px;
}
section.produk{
    background: url(wine\ nanas.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
}
section.produk .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

section.produk .container .card{
    position: relative;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 15px;
    box-shadow: 0 0 5px black;
    background-color: white;
    text-align: center;
    overflow: hidden;
    transition: 2s;
    border-radius: 15px;
}
section.produk .container .card .gambar{
    position: relative;
    width:100%;
}
section.produk .container .card:hover .gambar img{
    scale: 1.1;
    position: relative;
    width:100%;
    filter: opacity(65%);
    transition: 1s;
}
section.produk .container .card img{
    border-radius: 15px;
    width: 100%;
    transition: 1s;
}
section.produk .container .card .deskripsi{
    color: white;
    position: absolute;
    top: 200px;
    transition: 2s;
}
section.produk .container .card:hover .deskripsi{
    top: 0px;
    transition: 2s;
} 
section.produk .container .card .deskripsi a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
}
section.produk .container .card a{
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    transition: 2s;
}
section.produk .container .card a:hover{
    scale: 200%;
    box-shadow: 0px 0px 10px;
    color:rgb(87, 97, 1);
    transition: 1s;
} 
section.kontak{
    background-color: black;
    height: 600px;
}
section.kontak .card{
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 100px;
    width: 400px;
}
section.kontak .card img{
    width: 200px;
}
footer{
    background-color: grey;
    height: 50px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color: white;
    font-size: 20px;
    padding: 50px 20px;
}